:root {
--main: #FAF7F0;
--secondarybg: #eeebe3;
--maintext: #640D5F;
--secondarytext: #D91656;
--link: #7e1178;
--linkhover: #c01bb8;
--linkactive: #500c4b;
--button: #640D5F;
--fillcolor: #435670;
--flipped: #272727;
}

.darkmode{
  --main: #272727;
--secondarybg: #3b3b3b;
--maintext: #9e61e9;
--secondarytext: #36ebd9;
--link: #BB86FC;
--linkhover: #cba0ff;
--linkactive: #7945b8;
--button: #cba0ff;
--fillcolor: #fffcf6;
--flipped: #FAF7F0;
}



body, main {
    font-family: 'Roboto', sans-serif !important;
    background-color: var(--main);
    transition: 3s color, backgroundcolor;

}

  header, footer{
    color: var(--maintext) !important; 
    margin-bottom: 0px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;

    transition: .3s color, backgroundcolor;

  }
.active {
background-color: var(--button) !important;
color: var(--main) !important;

}

.active:hover {
  background-color: var(--link) !important;
  color: var(--main) !important;
  
  }

  .active:active {
    background-color: var(--linkactive) !important;
    color: var(--secondarybg) !important;
    
    }

  html {
    scroll-behavior: smooth;
    transition: .3s color, backgroundcolor !important;

  }



  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out;
  }



  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  


 #theme-switch {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--secondarybg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border: transparent;

  }



#theme-switch svg {
  height: 100%;
  width: 100%;
  border-radius: 50%;

}

#theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}


.link{
color: var(--link); 
transition: 0.15s;
text-decoration: none;
}



.link:hover{
  color: var(--linkhover); 
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.05);
  }



  .link:active{
    color: var(--linkactive); 
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
  }



  h1, h2, h3, h4, h5 {
    color: var(--maintext) !important;
    font-family: 'Roboto', sans-serif !important; 
  }


  
  p {
    color: var(--secondarytext);
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
  }






  .modal-content {
    background-color: var(--secondarybg);
    color: var(--maintext);
    border: 1px solid var(--maintext);
}

.modal-body h2 {
    color: var(--secondarytext);
}

.modal-body ul li {
    color: var(--maintext);
}

.modal-body ul li svg {
    fill: var(--maintext);
}

.modal-body button {
    background-color: var(--button);
    color: var(--main);
    border: none;
}

.modal-body button:hover {
    background-color: var(--linkhover);
    color: var(--main);
}

.modal-body button:active {
    background-color: var(--linkactive);
    color: var(--secondarybg);
}


  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 60px;
  }

.nav-pills{
  margin-top: 10px;
  margin-right: 5%;
    margin-left: 2%;
    display: flex;
}

.nav-item{
  text-align: center !important;
  align-items: center ;
  align-self: center;
}


  .email {
    color: var(--maintext);
  background-color: var(--main);
    border: none;
height: 30px;
width: auto;
border-bottom-left-radius: 25px;
border-top-left-radius: 25px;
text-align: center;
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
transition: all 0.15s;
font-family: 'Roboto', sans-serif !important;
margin-right: -5px;

  }

.email:hover{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  
}



.email:active{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
}



  .newsletter {
   align-items: center;
   background-color: var(--secondarybg);
    text-align: center;
    padding: 100px 0;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    transition: all 0.2s, background-color .2s;
    font-family: 'Roboto', sans-serif !important;

  }



  .newsletter:hover, header:hover, footer:hover{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  }



  .newsletter-content {
    max-width: 800px;
    margin: 0 auto;
  }



  .submit-button{
background-color: var(--link);
border: none;
height: 30px;
margin-left: -2px;
margin-right: 4px;
color: var(--main);
border-bottom-right-radius: 12px;
border-top-right-radius: 12px;
cursor: pointer;
transition: 0.15s;
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
font-family: 'Roboto', sans-serif !important;
  }



  .submit-button:hover{
    background-color: var(--linkhover);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  }



  .submit-button:active{
    background-color: var(--linkactive);
    color: var(--secondarybg);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
  }



  .button {
    background-color: var(--maintext);
    color: var(--secondarybg);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  


  .button:hover {
    background-color: var(--maintext);
  }
  


  .featured-news {
    margin-top: 50px;
  }


  
  .news-item {
    background-color: var(--secondarybg);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
    margin-top: 10px;

  }



  .news-item:hover{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  }



  .news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }



  footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -8px;
    padding: 15px;
    background-color: var(--secondarybg) !important;
    background-image: 
       radial-gradient(at 0% 50%, var(--main) 0px, transparent 50%),
       radial-gradient(at 80% 100%, var(--main) 0px, transparent 50%) !important;
  }


  
  header{
    position: relative;
    margin-bottom: 25px;
    margin-top: -15px;
        background-color: var(--secondarybg) !important; 
    position: relative;
    margin-bottom: 25px;
  }


  .alert {
    padding: 20px;
    background-color: var(--maintext); 
    color: #ffffff;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
  }
.nonedisplay{
  display: none;
}
  .alert:hover{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  }
  
  .closebtn {
    margin-left: 15px;
    color: var(--secondarybg);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  
 
  .closebtn:hover {
    color: rgb(201, 0, 0);
    font-size: 30px;
  }



  .closebtn:active {
    color: rgb(167, 0, 0);
    font-size: 27px;
    transition: 0.15s;
  }



  .img{
    border-radius: 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin-bottom: 20px;
    margin-left: 20px;
  }


  
  .img:hover{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);

  }



  .img:active{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);

  }



  img {
    border-radius: 10px;
  }


.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondarybg);
  color: var(--maintext);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondarybg);
  color: var(--maintext);
  z-index: 9990;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.hidden {
  display: none;
}


.logo{
  transition: all 0.3s ease;
position: sticky;
z-index: 1000; 
border-radius: 50%;
margin: 5px;
}



.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  margin-top: 18px;
margin-left: 8px;
}


.fixed2{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000; 
  margin-top: 18px;
margin-left: 8px;
}


.latestheader {
  background-color: var(--main);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
padding: 0 ;
height: 65px;
margin-left: 10px;
margin-right: 10px;
align-items: center;
}



  .slide-in-left {
    opacity: 0;
    transform: translateX(-100%); 
    transition: all 0.4s ease-out;
  }

  
  
  .slide-in-left.visible {
    opacity: 1;
    transform: translateX(0);
  }

  

  .slide-in-right {
    opacity: 0;
    transform: translateX(100%); 
    transition: all .4s ease-out;
  }

  
 
  .slide-in-right.visible {
    opacity: 1;
    transform: translateX(0);
  }



  #scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    align-items: center;
    background-color: var(--secondarytext);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: opacity 0.5s ease;
  }


#scrollBtn:hover {
opacity: .75;
}


#scrollBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: hsla(290, 42%, 22%, 0.25);
    transform: translateY(100%);
    transition: transform 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 0;
}



#scrollBtn:hover::before {
    transform: translateY(0);
}



#scrollBtn .fade-in.scrolltop {
    position: relative;
    z-index: 1;
 
}


